@model IEnumerable<PawsitiveCare.Vaccination>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VaccinationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VaccinationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>

    </tr>
}

</table>
